<div id="post-viewer">
  <mat-card *ngIf="article">
    <mat-card-header>
      <h1>{{article.title}}</h1>
      <div class="action">
        <div class="info">
          <div class="primary">{{article.author.username}}</div>
          <div>{{article.createdAt | date : 'medium'}}</div>
        </div>
        <ng-container
          *ngTemplateOutlet="isEditable
            ? isEditableActions
            : isNonEditableActions"
        ></ng-container>
      </div>
    </mat-card-header>

    <mat-card-content>
      {{article.body}}
    </mat-card-content>
  </mat-card>
</div>

<ng-template #isEditableActions>
  <button
    [routerLink]="['/edit/', article.slug]"
    mat-button
    color="primary"
  >Edit</button>
  <button
    mat-button
    color="accent"
    (click)="removeArticle(article.slug)"
    [disabled]="isRemoving"
  >Delete</button>
</ng-template>

<ng-template #isNonEditableActions>
  <app-follow-button
    [profile]="article.author"
    (toggle)="toggleFollowing($event)"
  ></app-follow-button>
  <app-heard-button
    [article]="article"
    (toggle)="toggleFavorite($event)"
  ></app-heard-button>
</ng-template>
