<div id="article">
  <app-post-viewer
    [article]="article"
    [isEditable]="isEditable"
  ></app-post-viewer>

  <mat-card id="post-comment" *ngIf="article">
    <mat-card-content>
      <p>Post a comment under this article</p>
    </mat-card-content>

    <mat-card-content>
      <textarea
        [disabled]="isSubmitting"
        [formControl]="commentFormControl"
      ></textarea>

      <button
        [disabled]="isSubmitting"
        (click)="onSendComment()"
      ><mat-icon>
        send</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>

  <app-post-comment
    *ngFor="let comment of comments; trackBy: trackById"
    [comment]="comment"
    (remove)="onRemoveComment(comment)"
  ></app-post-comment>
</div>
