<div class="preview-wrapper articles">
  <div
    *ngIf="config.type === FeedType.Own || config.type === FeedType.Favorite"
    class="feed-toggle">
    <span>Your posts</span>
    <mat-slide-toggle
      [checked]="isFollowingFeed"
      (change)="toggleFeed($event)"
      color="primary"></mat-slide-toggle>
    <span>Following</span>
  </div>

  <div class="loader" *ngIf="isLoad">
    <mat-spinner></mat-spinner>
  </div>

  <app-post-previewer
    *ngFor="let article of articles"
    [article]="article"
    class="article"></app-post-previewer>
</div>

<app-paginator
  [hidden]="isLoad"
  *ngIf="articles.length"
  (changePage)="setPostFeedByPaginator($event)"
  [length]="articlesCount"
  [pageIndex]="currentPage - 1"></app-paginator>

<div class="preview-wrapper empty" *ngIf="!isLoad && !articles.length">
  <mat-icon>mood_bad</mat-icon>
  <p>{{ EMPTY_LIST }}</p>
</div>
