.snackbar {
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
  --mat-snack-bar-button-color: #fff;

  button {
    border: 1px solid #fff;
  }
}

.mat-mdc-snack-bar-container {
  &.snackbar-success {
    --mdc-snackbar-container-color: #445ad3;
    @extend .snackbar
  }
}

.mat-mdc-snack-bar-container {
  &.snackbar-error {
    --mdc-snackbar-container-color: #f44336;
    @extend .snackbar
  }
}

.mat-mdc-snack-bar-container {
  &.snackbar-warn {
    --mdc-snackbar-container-color: #a99c2d;
    @extend .snackbar
  }
}
