.mdc-switch.mdc-switch--unselected:enabled .mdc-switch__icon {
  fill: none !important;
}

.mdc-switch.mdc-switch--selected:enabled .mdc-switch__icon {
  fill: none !important;
}

.feed-toggle {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 1em;
  padding: .5em 0;
  align-self: flex-end;
}
