@import 'theming';

$primary: map-get($social-feed-primary, 300);
$accent: map-get($social-feed-accent, 100);
$warn: map-get($social-feed-warn, 100);

$background-hover: rgba($primary, 0.2);
$disabled: #e8e8e8;

$test: red;
