nav {
  display: flex;

  li {
    list-style: none;
    padding-left: 0.5em;
    align-self: center;
  }
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
}
