<div id="header">
  <mat-toolbar color="primary">
    <span class="logo" routerLink="/">
      {{'Amazing social feed' | uppercase}}
    </span>
    <nav>
      <li *ngIf="getCurrentUser() | async as currentUser">
        {{ currentUser.username }}
      </li>

      <li class="nav-item">
        <button
          mat-flat-button
          class="nav-link"
          routerLink="/about">
          About
        </button>
      </li>

      <ng-container *appShowIfAuthed="false">
        <li class="nav-item">
          <button
            mat-raised-button
            class="nav-link"
            routerLinkActive="active"
            routerLink="/login">
            Sign in
          </button>
        </li>

        <li class="nav-item">
          <button
            mat-flat-button
            class="nav-link"
            routerLink="/register"
            routerLinkActive="active"
          >
            Sign up
          </button>
        </li>
      </ng-container>

      <ng-container *appShowIfAuthed="true">
        <li class="nav-item">
          <button
            mat-flat-button
            class="nav-link"
            routerLinkActive="active"
            routerLink="/new-article">
            New Article
          </button>
        </li>

        <li class="nav-item">
          <button
            mat-flat-button
            class="nav-link"
            color="accent"
            (click)="logout()"
          >
            Logout
          </button>
        </li>
      </ng-container>
    </nav>
  </mat-toolbar>
</div>
