<div id="feed-wrapper">
  <nav class="nav-bar">
    <div class="tabs">
      <li
        class="tab"
        [ngClass]="{ active: postFeedConfig.type === FeedType.Own }">
        <button (click)="setFeed(FeedType.Own)">Your Feed</button>
      </li>
      <li
        class="tab"
        [ngClass]="{ active: postFeedConfig.type === FeedType.Global }">
        <button (click)="setFeed(FeedType.Global)">Global Feed</button>
      </li>
    </div>
  </nav>

  <app-post-feed [config]="postFeedConfig"></app-post-feed>
</div>
