<div id="feed-wrapper">
  <nav class="nav-bar">
    <div class="tabs">
      <li
        class="tab"
        [ngClass]="{ active: postFeedConfig.type === FeedType.Own }"
      >
        <a
          (click)="setFeed(FeedType.Own)"
        >Your Feed</a>
      </li>
      <li
        class="tab"
        [ngClass]="{ active: postFeedConfig.type === FeedType.Global }"
      >
        <a (click)="setFeed(FeedType.Global)">Global Feed</a>
      </li>
    </div>
  </nav>

  <app-post-feed [config]="postFeedConfig"></app-post-feed>
</div>
